<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite preserve-order="true" name="Suite" parallel="classes" thread-count="3">
    <!-- Test -->
    <test name="TestngAnnotations">
        <classes>
            <class name="OrangeHRM_Login"></class>
        </classes>
    </test>
    <test name="ReadingJson">
        <classes>
            <class name="Reading_JsonFile"/>
        </classes>
    </test>
</suite> <!-- Suite -->